* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

.container-main {
  margin: 0 auto;
  outline: 1px solid red;
  width: 1440px;
  height: auto;
}

.nav {
  width: 1440px;
  height: 150px;
  outline: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
}

.nav_item {
  padding: 40px;
}

.nav_link {
  font-weight: 400px;
  font-size: 18px;
  color: #222222;
  text-decoration: none !important;
}

.nav_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F3FBF8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

.link_btn {
  color: #222222;
  display: inline-block;
}

.link_btn1 {
  padding: 10px 23px;
  border-radius: 8px;
  background-color: #09A66D;
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none !important;
  border: 1px solid #09A66D;
}

.link_btn1:hover {
  color: #09A66D;
  background-color: white;
}

.btns {
  margin-left: auto;
  margin-right: 123px;
}

.nav_logo {
  margin-right: auto;
  margin-left: auto;
}

.organic {
  width: 1440px;
  height: 850px;
  background-color: #F3FBF8;
  background-image: url(/img/organic-leaf.png);
  background-size: 612px 408px;
  background-repeat: no-repeat;
  position: relative;
}

.box-name {
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
}

.organic__name {
  padding-top: 93px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.box-info {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #555555;
}

.organic_info {
  text-align: center;
  width: 640px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.organic_fruit_box {
  width: 862px;
  height: 465px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3fbf8d2)), url(/img/oganic-fruit.png);
  background-image: linear-gradient(#f3fbf8d2), url(/img/oganic-fruit.png);
  background-color: #F3FBF8;
  background-size: cover;
  margin-top: 80px;
  margin-left: 120px;
}

.organic_fruit_box p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.organic_fruit_box span {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #09A66D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin: 20px;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 500px;
}

.statistic {
  position: absolute;
  width: 250px;
  height: 408px;
  right: 100px;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistic_box {
  width: 250px;
  height: 116px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icon_box {
  width: 56px;
  height: 56px;
  background-color: #F3FBF8;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon_box img {
  width: 32px;
  height: 32px;
}

.icon_box_name h5 {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

.icon_box_name p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #000000;
}

.why_name_box {
  width: 1440px;
  height: 340px;
  outline: 1px solid red;
}

.why-we {
  width: 1440px;
  height: 725px;
  outline: 1px solid red;
}
/*# sourceMappingURL=style.css.map */